%h2 All videos:
%table
  %thead
    %td Id
    %td Title
    %td flv
    %td mp4
    %td meta
    %td status
    %td
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.id
        %td= video.title
        %td
          -if video.flv && File.exist?(video.flv)
            %a{ href: url('/videos/' + video.id.to_s + '/flv')} flv
          -else
            flv
        %td
          -if video.mp4 && File.exist?(video.mp4)
            %a{ href: url('/videos/' + video.id.to_s + '/mp4')} mp4
          -else
            mp4
        %td
          %a{ href: url('/videos/' + video.id.to_s + '/meta') } meta
        %td= video.status
        %td
          %button{ type: 'button', onclick: "delete_video(#{video.id})"  } Delete
        
%p
  %a{ href: url('/videos/new') } Upload new video